*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container_header{
    display: flex;
    justify-content: center;
}

.title{
    font-size: 50px;
    position: absolute;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container_welcome{
    margin-bottom: 30px;
}

#title_welcome{
    padding-bottom: 10px;
}

.container_menu{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* #title_menu{
    padding-bottom: 10px;
}

.card{
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
}

.card_content_flavor{
}
 */
.img_vanilla{
    max-width: 50vh;
    clip-path: inset(20% 0 10% 0);
}